@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "normalize.css";
@import "./mixins.pcss";
@import "./layout/base.pcss";
@import "./blocks/about.pcss";
@import "./blocks/avatar.pcss";
@import "./blocks/card.pcss";
@import "./blocks/custom-btn.pcss";
@import "./blocks/error-tooltip.pcss";
@import "./blocks/footer.pcss";
@import "./blocks/form.pcss";
@import "./blocks/heder.pcss";
@import "./blocks/hero.pcss";
@import "./blocks/logo.pcss";
@import "./blocks/mains.pcss";
@import "./blocks/nav.pcss";
@import "./blocks/overlay-form.pcss";
@import "./blocks/overlay.pcss";
@import "./blocks/paralax-top.pcss";
@import "./blocks/parallax-budda.pcss";
@import "./blocks/preview.pcss";
@import "./blocks/review-btn.pcss";
@import "./blocks/review.pcss";
@import "./blocks/reviews.pcss";
@import "./blocks/scill.pcss";
@import "./blocks/scroll-btn.pcss";
@import "./blocks/skills.pcss";
@import "./blocks/slider-btn.pcss";
@import "./blocks/slider.pcss";
@import "./blocks/socials.pcss";
@import "./blocks/triangles.pcss";
@import "./blocks/user.pcss";
@import "./blocks/welcom.pcss";
@import "./blocks/work.pcss";
