.triangles--section {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}


.triangles {
   display: flex;
   color: #fff;
}
.triangles__item {
   width: 50%;
   height: 125px;
}

.arrow {
   fill: currentColor;
}

.triangles--rotate{
  position: absolute;
  left: 0;
  right: 0;
  transform: rotate(180deg);
}
